body{
 background-image: url(https://snipboard.io/e5Qt9g.jpg);
  box-sizing: border-box;
    font-family: "Play", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 160px; 
  margin-bottom:180px;

  

}
#survey-form, #title, #description{
  background-color: #D8B1A5;
   margin: auto;
  width: 650px;
  height: auto;
  padding: 10px; 
}

#title, #description{
  text-align:center;
}

#survey-form{
  text-indent: 8px;
}

#submit{
   font-family: "Play", sans-serif;
  font-weight: 600;
  font-style: normal;

}

#dropdown{
    font-family: "Play", sans-serif;
  font-weight: 600;
  font-style: normal;
}